* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
  }


 body {
    font: 18px/1.5 "Open Sans", sans-serif;
    background: #292a2b;
    color: white;
}

.caja_frutas-pares {
  background-color: #06283d;
  color: #b3e8e5;
}

.caja_frutas {
  text-align: center;
  margin: 20px;
  width: auto;
  font-family: monospace;
}
ol {
  margin: 10px;
  align-items: center;
}

li {
  margin: 10px;
  padding: 10px;
  border: 1px solid #06283d;
  border-radius: 10px;
  background-color: #06283d;
  color: #b3e8e5;

}

.tema {
  text-align:center ;
  margin: 10px;
}

select {
  width: 10%;
  padding: 10px;
  border: 1px solid #06283d;
  border-radius: 10px;
  background-color: #06283d;
  color: #b3e8e5;
  text-align: center;
}

.impares-activo {
  background-color: #8cf108;
  color: #b3e8e5;
}

.pares-activos {
  background-color: #8cf108;
  color: #b3e8e5;
}